blinker
certifi
charset-normalizer
click
dash
dash-bootstrap-components
dash-core-components
dash-html-components
dash-table
Flask
idna
importlib_metadata
itsdangerous
Jinja2
MarkupSafe
nest-asyncio
numpy
packaging
pandas
plotly
psycopg2-binary
python-dateutil
pytz
requests
retrying
setuptools
six
SQLAlchemy
tenacity
typing_extensions
tzdata
urllib3
Werkzeug
zipp
